@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);

body {
  background-color: #333;
  color: #333;
  font-weight:400;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #551A8B;
  border-bottom: .5px solid #000;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
/*   border-bottom: 1px solid #555; */
}

li a {
  color:white;
  padding: 10px;
  border-radius: 3px;
}

li a:hover {
  color: #551A8B;
  background-color: white;
  text-decoration: none;
}

.home {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #551A8B;
}

.quote-box {
  border-radius:3px;
  position:relative;
  margin:8% auto auto auto;
  width:500px;
  padding:40px 50px;
  display:table;
  background-color:#fff;
}

.quote-text {
  text-align: center;
  font-size: ;
  font-weight: ;
  width: auto;
  height: auto;
  
}

.quote-author {
  text-align: center;
  font-size: ;
  font-weight: ;
  width: auto;
  height: auto;
}

.footer {
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  display: block;
  margin: 10px;
}
